doctype html
html(lang="en")
        head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet", href="style.css")
            title express-checkpoint
        body 
            nav 
                ul      
                    li 
                        a(href="/") Homepage 
                        a(href="/services") Services 
                        a(href="/contact")  Contact Us
            block content 
            br
            br
            footer 
                p Copyright Daniel N. developed this &copy; 2022
