extends layout 

block content 
    h1 Services page 
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima odit possimus ea voluptate recusandae quis fuga non quos pariatur? Adipisci, a non soluta quo illo expedita totam, facilis minima corrupti hic sint qui saepe iusto officiis cumque in. Animi, dolor voluptatum. Sapiente mollitia magni obcaecati placeat soluta sint veniam perspiciatis, quae modi porro unde?