body {
  background-color: yellowgreen;
  color: black;
  padding: 0 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav li {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 2fr 2fr 2fr;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
  text-decoration: wavy;
}

footer {
  text-align: center;
  font-size: small;
}
